h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px;
    padding-top: 0px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    padding: 5px;
    text-align: center;
}

#blanks {
    border: 7px solid white;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    height: 30px;
    width: 50%;
}

#myWins {
    border: 7px solid white;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    height: 30px;
    width: 50%;
}

#myGuesses {
    border: 7px solid white;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    height: 30px;
    width: 50%;
}

#myLosses {
    border: 7px solid white;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    height: 30px;
    width: 50%;
}

#wrongLetter {
    border: 7px solid white;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    height: 30px;
    width: 50%;
}

.container {
    background-color: darkred;
    margin: 30px;
    margin-top: 0px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#top-image {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%; 
}
